﻿@using FA.JustBlog.Entity.Entity
@using System.Collections.Generic
@model IEnumerable<Post>

<h1>All Post</h1>
<hr />
@foreach (var item in Model)
{
	<!-- Post preview-->
	<div class="post-preview">
		<a href="post.html">
			<h2 class="post-title">@item.Title</h2>
			<h3 class="post-subtitle">@item.ShortDescription</h3>
		</a>
		<p class="post-meta">
			Posted by
			<a href="#!">Start Bootstrap</a>
			@item.PostedOn
		</p>
	</div>
	<!-- Divider-->

}

