﻿@using FA.JustBlog.Models.Models
@model CategoryModel

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";

}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
<h2 class="text-center mt-4">Detail Category</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>


<div class="card-block">

    <form asp-controller="CategoryManager" asp-action="Edit" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label" hidden>Category Id</label>
            <div class="col-sm-10">
                <input asp-for="Id" type="text" hidden class="form-control">
                <span asp-validation-for="Id"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label" >Category Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" readonly class="form-control">
                <span asp-validation-for="Name"  class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="UrlSlug" class="col-sm-2 col-form-label">Url Slug</label>
            <div class="col-sm-10">
                <input asp-for="UrlSlug" type="text" readonly class="form-control">
                <span asp-validation-for="UrlSlug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea asp-for="Description" readonly class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "List")
                </p>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript " src="~/js-2/jquery.validate.min.js"></script>

