﻿@using FA.JustBlog.Models.Models
@model CommentModel

@{
    ViewBag.Title = "CreateComment";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
<h2 class="text-center mt-4">Create Comment</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>


<div class="card-block">

    <form asp-controller="CommentManager" asp-action="Create" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CommentHeader" class="col-sm-2 col-form-label">Comment Header</label>
            <div class="col-sm-10">
                <input asp-for="CommentHeader" type="text" class="form-control">
                <span asp-validation-for="CommentHeader" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CommentText" class="col-sm-2 col-form-label">Comment Text</label>
            <div class="col-sm-10">
                <textarea asp-for="CommentText" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.PostId, "Post")</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.PostId, new SelectList(ViewBag.Post, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript " src="~/js-2/jquery.validate.min.js"></script>

