﻿@model IEnumerable<FA.JustBlog.Entity.Entity.Tag>

<div class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Tag</h3>

    @foreach (var i in Model)
    {
        <a style="background-color : black ; color : white ; font : bold ; text-decoration-line : underline ; padding : 5px" class="cat" href="@Url.Action("GetPostByTag", "Post", new { tag = i.Name})">@i.Name</a>
    }
    <div class="br"></div>
    <div class="br"></div>

</div>
