﻿@using FA.JustBlog.Models.Models.Post
@using System.Collections.Generic
@model IEnumerable<PostModel>

<div class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title"> Most View Posts</h3>
    @foreach (var item in Model)
    {
        <div class="media post_item mb-3">
            <div class="media-body ml-2">
                <a href="@Url.Action("Detail", "Post", new { id = item.Id })">
                    <h6>@item.Title</h6></a>
                <div class="date">
                    <a class="text-primary text-decoration-none">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Posted
                        <time class="timeago" >@item.PostedOn</time>
                        with rate @item.Rate by @item.ViewCount view(s)
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="br"></div>

</div>
