﻿@using FA.JustBlog.Models.Models.Post
@model CreatePostViewModel

@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
<h2 class="text-center mt-4">Create Post Management</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>


<div class="card-block">

    <form asp-controller="PostManager" asp-action="Create" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input asp-for="Title" type="text" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="UrlSlug" class="col-sm-2 col-form-label">Url Slug</label>
            <div class="col-sm-10">
                <input asp-for="UrlSlug" type="text" class="form-control">
                <span asp-validation-for="UrlSlug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ShortDescription" class="col-sm-2 col-form-label">ShortDescription</label>
            <div class="col-sm-10">
                <textarea asp-for="ShortDescription" type="text" class="form-control" ></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PostContent" class="col-sm-2 col-form-label">PostContent</label>
            <div class="col-sm-10">
                <input asp-for="PostContent" type="text" class="form-control" />
                <span asp-validation-for="PostContent" class="text-danger"></span>
            </div>
        </div>
           <div class="form-group row">
            <label asp-for="PostedOn" class="col-sm-2 col-form-label">PostedOn</label>
            <div class="col-sm-10">
                <input asp-for="PostedOn" type = "datetime-local" class="form-control" />
                <span asp-validation-for="PostedOn" class="text-danger"></span>
            </div>
        </div>
       @* <div class="form-group row">
            <label asp-for="Published" class="col-sm-2 col-form-label">Published</label>
            <div class="col-sm-2">
                <input asp-for="Published" type="checkbox" class="form-control" value="True"/>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CategoryId" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                    <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Value", "Text"))" name="select" class="form-control">
                        <option >Please Select One</option>
                    </select>
            </div>
        </div>*@
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.CategoryId, "Category")</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Category, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
              </div>
            </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                @Html.LabelFor(model => model.Published)</label>
           
                <div class="checkbox col-sm-2">
                    @Html.EditorFor(model => model.Published)
                    @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                </div>
            
        </div>
        <div class="form-group row">
            <label asp-for="TagName" class="col-sm-2 col-form-label">TagName</label>
            <div class="col-sm-10">
                <input asp-for="TagName" type="text" class="form-control" />
                <span asp-validation-for="TagName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript " src="~/js-2/jquery.validate.min.js"></script>

    
        
    