﻿@using FA.JustBlog.Models.Models.Post;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<PostModel>
@{
    ViewData["Title"] = "LastestPost";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>UrlSlug</th>
                        <th>PostOn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.UrlSlug</td>
                            <td>@item.PostedOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model,
    page => Url.Action("LastestPost",
    new {page}),
    new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    LinkToPreviousPageFormat = "Trước",
    LinkToNextPageFormat = "Sau",
    LinkToFirstPageFormat = "Trang Đầu",
    LinkToLastPageFormat = "Trang Cuối",
    Display = PagedListDisplayMode.IfNeeded,
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always
    })
</div>
<script type="text/javascript " src="~/js-2/jquery.validate.min.js"></script>
