﻿@{
    ViewData["Title"] = "Show";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<div class="card-block">
    <!-- Row start -->
    <div class="row">
        <div class="col-lg-12 col-xl-6">
            <div class="sub-title">Default</div>
<ul class="nav nav-tabs  tabs" role="tablist">
    <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="@Url.Action("ListPost","PostManager")" role="tab">ListPost</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="" role="tab">LastestPost</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="" role="tab">MostViewPost</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
    </li>
</ul>
</div>
</div>
</div>

