﻿@using FA.JustBlog.Models.AppUser
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="signup-card card-block auth-body mr-auto ml-auto">
    <form asp-controller="Account" asp-action="Register"  method="post" class="md-float-material">
        <div class="text-center">
            <img src="~/admin/images/auth/logo-dark.png" alt="logo.png">
        </div>
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                </div>
            </div>
            <hr />
            <div class="input-group">
                <input asp-for="Email" type="text" class="form-control" placeholder="Your Email Address">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Choose Password">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input asp-for="RePassword" type="password" class="form-control" placeholder="Confirm Password">
                <span class="md-line"></span>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now.</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                    <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                </div>
                <div class="col-md-2">
                    <img src="~/admin/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
            </div>
        </div>
    </form>
    <!-- end of form -->
</div>

