﻿@using FA.JustBlog.Models.AppUser
@model RegisterViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title.</h2>


<div class="card-block">
    <form asp-controller="UserAdmin" asp-action="Create" asp-area="Admin" method="post" class="md-float-material">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="RePassword" class="col-sm-2 col-form-label">RePassword</label>
            <div class="col-sm-10">
                <input asp-for="RePassword" type="password" class="form-control">
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
        </div>

    <!-- end of form -->
    <div class="form-group">
        <label class="col-md-2 control-label">
            Select User Role
        </label>
        <div class="col-md-10">
            @foreach (var item in (SelectList)ViewBag.RoleId)
            {
                <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline" />
                @Html.Label(item.Value, item.Text, new { @class = "control-label" })
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Create" />
        </div>
    </div>
    </form>
    </div>

