﻿@using FA.JustBlog.Entity.Entity
@model AppUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}

<h2>Details.</h2>

<div class="card">
<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                   <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Name</td>
                        @if (ViewBag.RoleNames.Count == 0)
                        {
                                <td>No roles found for this user.</td>
                        }else {
                      <td>
                                @foreach (var item in ViewBag.RoleNames)
                                {
                                    <span>@item , </span>
                                }
                      </td>  
                        }
                    
                    </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



