﻿@using FA.JustBlog.Models.AppUser
@model UserViewModel

@{
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";

}

<h2>Edit.</h2>


<div class="card-block">

    <form asp-controller="UserAdmin" asp-action="Edit" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label" hidden>Id</label>
            <div class="col-sm-10">
                <input asp-for="Id" type="text" hidden class="form-control">
               
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input asp-for="Email" type="text" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <h4 class="mb-3">Roles</h4>

        <div class="my-3">

            @for (int i = 0; i < @Model.RolesList.Count(); i++)
            {
                <div class="form-check">
                    @Html.CheckBoxFor(c => @Model.RolesList[i].Selected)
                    @Html.HiddenFor(h => @Model.RolesList[i].Value)

                    @Html.LabelFor(l => @Model.RolesList[i].Selected, @Model.RolesList[i].Text, new {@class="form-check-label"})
                    @Html.HiddenFor(h => @Model.RolesList[i].Text)
                </div>
            }
        </div>

        <hr class="my-4">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </form>
    </div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>



