﻿@using FA.JustBlog.Entity.Entity
@model IEnumerable<AppUser>
@{
    ViewBag.Title = "Roles Management";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";

}




<h2 class="text-center">User Management</h2>
<h4 class="text-success time-hide">@TempData["Message"]</h4>
<div class="btn btn-primary mb-3">
    <a href="@Url.Action("Create", "UserAdmin")" class="text-white text-decoration-none"><span class="fas fa-plus"></span></a>
</div>

<div class="card">
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="d-flex">
                                <a href="@Url.Action("Edit", "UserAdmin", new { id = item.Id})" class="mr-3"><i class="far fa-edit"></i></a>
                                <a href="@Url.Action("Details", "UserAdmin", new { id = item.Id})" class="mr-3"><i class="fas fa-info-circle"></i></a>
                                <form asp-action="Delete" asp-controller="UserAdmin" asp-area="Admin" asp-route-id="@item.Id" method="post">
                                    <button type="submit" onclick="return confirm('Are you sure to delete this post?');" class="bg-transparent border-0 text-danger"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
