﻿@using FA.JustBlog.Models.AppRole
@model CreateRoleViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}

<h2>Create.</h2>


<h2 class="text-center mt-4">Create Role</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>


<div class="card-block">

    <form asp-controller="RolesAdmin" asp-action="Create" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input asp-for="Description" type="text" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
  </form>
  </div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


