﻿@using FA.JustBlog.Models.AppRole
@model EditRoleViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<h2>Edit.</h2>


<h2 class="text-center mt-4">Edit Role</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>


<div class="card-block">

    <form asp-controller="RolesAdmin" asp-action="Edit" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label" hidden>Id</label>
            <div class="col-sm-10">
                <input asp-for="Id" type="text" hidden class="form-control">

            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
      
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </form>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>