﻿@using FA.JustBlog.Entity.Entity
@model IEnumerable<AppRole>
@{
    ViewBag.Title = "Roles Management";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";

}
<h2 class="text-center">Roles Management</h2>
<h4 class="text-success time-hide">@TempData["Message"]</h4>
<div class="btn btn-primary mb-3">
    <a href="@Url.Action("Create", "RolesAdmin")" class="text-white text-decoration-none"><span class="fas fa-plus"></span></a>
</div>

<table class="table table-bordered table-dark">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-flex">
                    <a href="@Url.Action("Edit", "RolesAdmin", new { id = item.Id})" class="mr-3"><i class="far fa-edit"></i></a>
                    <form asp-action="Delete" asp-controller="RolesAdmin" asp-area="Admin" asp-route-id="@item.Id.ToString()" method="post">
                        <button type="submit" onclick="return confirm('Are you sure to delete this post?');" class="bg-transparent border-0 text-danger"><i class="far fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>