﻿@using FA.JustBlog.Models.Models
@model TagModel

@{

    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";

}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
<h2 class="text-center mt-4">Create Tag</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>


<div class="card-block">

    <form asp-controller="TagManager" asp-action="Create" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Tag Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="UrlSlug" class="col-sm-2 col-form-label">Url Slug</label>
            <div class="col-sm-10">
                <input asp-for="UrlSlug" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea asp-for="Description" type="text" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript " src="~/js-2/jquery.validate.min.js"></script>

