﻿@using FA.JustBlog.Models.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<TagModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<h2 class="text-center">Tag Management</h2>
<h3 class="text-success time-hide">@TempData["Message"]</h3>
<div class="btn btn-primary mb-3">
    <a href="@Url.Action("Create", "TagManager")" class="text-white text-decoration-none">Create</a>
</div>


<div class="card">
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.UrlSlug</td>
                            <td>@item.Description</td>
                            <td class="d-flex">
                                <a href="@Url.Action("Edit", "TagManager", new { id = item.Id})" class="mr-3"><i class="far fa-edit"></i></a>
                                <form asp-action="Delete" asp-controller="TagManager" asp-area="Admin" asp-route-id="@item.Id" method="post">
                                    <button type="submit" onclick="return confirm('Are you sure to delete this post?');" class="bg-transparent border-0 text-danger"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model,
    page => Url.Action("ListTag",
    new {page}),
    new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    LinkToPreviousPageFormat = "Trước",
    LinkToNextPageFormat = "Sau",
    LinkToFirstPageFormat = "Trang Đầu",
    LinkToLastPageFormat = "Trang Cuối",
    Display = PagedListDisplayMode.IfNeeded,
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always
    })
</div>
<script type="text/javascript " src="~/js-2/jquery.validate.min.js"></script>