﻿@model IEnumerable<FA.JustBlog.Models.Models.CategoryModel>

<li class="nav-item  dropdown active">
	<a class="nav-link px-lg-3 py-2 py-lg-4 dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Category
	</a>
	<ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDarkDropdownMenuLink">
		@foreach (var item in Model)
		{
			<li>
				<a class="nav-link" href="@Url.Action("GetPostByCategory", "Post", new { category = item.Name})">@item.Name</a>
			</li>
		}
	</ul>
</li>


