﻿@using FA.Common
@using FA.JustBlog.Models.Models.Post
@using FA.JustBlog.Entity.Entity
@model PostModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/admin/js/jquery/jquery.min.js"></script>
<div class="item">
    <div class="post_s_item">
        <div class="post_text">
            <a class="cat" href="@Url.Action("GetPostByCategory", "Post", new { category = Model.CategoryName})">@Model.CategoryName</a>
            <h2 class="text-primary">@Model.Title</h2>
            <p>
                @Html.Raw(@Model.PostContent)
            </p>
            <div class="date text-secondary">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Posted
                @TimeOn.Time(Model.PostedOn)
                with rate @Model.Rate by @Model.ViewCount @(Model.ViewCount <= 1 ? "view" : "views")
            </div>

        </div>
    </div>

</div>
<div class="comment-form mb-5">
    <h4>Enter a comment</h4>
    <form>
        @Html.HiddenFor(x => x.Id, new { id = "post-id" })
        <div class="form-group form-inline">
            <div class="form-group col-4">
                <input type="text" class="form-control border border-primary" id="name" name="name" placeholder="Enter name" onfocus="this.placeholder = ''">
            </div>
            <div class="form-group col-7">
                <input type="email" class="form-control border border-primary" id="email" name="email" placeholder="Enter email address" onfocus="this.placeholder = ''">
            </div>
        </div>
        <div class="form-group col-12">
            <input type="text" class="form-control border border-primary" id="commentHeader" name="commentHeader" placeholder="Enter comment header" onfocus="this.placeholder = ''">
        </div>
        <div class="form-group col-12">
            <input class="form-control mb-10 border border-primary" rows="3" id="commentText" name="commentText" placeholder="Enter comment" onfocus="this.placeholder = ''">
        </div>
        <div class="col-12">
            <button type="button" id="submit-comment" class="btn btn-success">Comment</button>
        </div>
    </form>
</div>

<div id="myComment" class="comments-area">
    <h4 id="count-comment">@Model.CommentList.Count@(Model.CommentList.Count <= 1 ? "Comment" : "Comments") </h4>
    <div class="comment-list">
        @foreach (var item in Model.CommentList.OrderByDescending(c => c.CommentTime).ToList())
        {
            <div class="single-comment justify-content-between d-flex mb-2">
                <div class="user justify-content-between">
                    <div class="thumb d-flex">
                        <div><a class="h4" href="#">@item.Name</a><i> - @item.CommentTime.ToString("dddd, dd MMMM yyyy")</i></div>
                    </div>
                    <div>
                        <p class="date h6">@item.CommentHeader</p>
                        <p class="comment">@item.CommentText</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





<script>
    $("#submit-comment").click(function () {
        let postId = $("#post-id").val();
        let name = $('#name').val().trim();
        let email = $('#email').val().trim();
        let commentHeader = $('#commentHeader').val().trim();
        let commentText = $('#commentText').val().trim();


        if (name.length == 0 ||
            email.length == 0 ||
            commentHeader.length == 0) {
            alert("Please input all fills.");
            return;
        }
        $.ajax({
            url: '/comment/add',
            type: 'get',
            data: {
                postId: postId,
                name: name,
                email: email,
                commentHeader: commentHeader,
                commentText: commentText
            },
            success: data => {

                let commentCount = parseInt($("#count-comment").text()) + 1;
                if (commentCount <= 1) {
                    $("#count-comment").text(commentCount + " Comment");
                } else {
                    $("#count-comment").text(commentCount + " Comments");
                }
                
                $(".comment-list").prepend(`
                                        <div class="single-comment justify-content-between d-flex mb-2">
                                            <div class="user justify-content-between">
                                                <div class="thumb d-flex">
                                                        <div><a class="h4" href="#">${name}</a></div>
                                                </div>
                                                <div>
                                                        <p class="date h6">${commentHeader}</p>
                                                        <p class="comment">${commentText}</p>
                                                </div>
                                            </div>
                                        </div>
                                        `);


            }

        });
    });
</script>



