﻿@using FA.Common
@using FA.JustBlog.Models.Models.Post
@model IEnumerable<PostModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @foreach (var item in Model)
{
    <div class="item">
        <div class="post_s_item">
            <div class="post_text">
                <a class="cat" href="@Url.Action("Detail", "Post", new { Id = item.Id})">@item.CategoryName</a>
                <a href="@Url.Action("Detail", "Post", new { Id = item.Id})"><h4>@item.Title</h4></a>
                <p>@item.ShortDescription</p>
                <div class="date">
                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>@TimeOn.Time(item.PostedOn)</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4" />
}   

