﻿@using FA.Common
@using FA.JustBlog.Models.Models.Post
@using System.Collections.Generic
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<PostModel>

@{
	ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>All Post</h1>
<hr />
@foreach (var item in Model)
{
    <div class="item">
        <div class="post_s_item">
            <div class="post_text">
                 <a class="cat" href="@Url.Action("Details" , "Post" , new {@year =
                item.PostedOn.Year, @month = item.PostedOn.Month.ToString("00"),
               @title = item.UrlSlug})" ><h2>@item.Title</h2></a>
                Category : <a class="cat" style="text-decoration-line : underline  " href="@Url.Action("GetPostByCategory", "Post", new { category = item.CategoryName})">@item.CategoryName</a>
                 <br />
                Tag :
                @foreach(var i in item.TagList){
                    <a style="background-color : black ; color : white ; font : bold ; text-decoration-line : underline ; padding : 4px" class="cat" href="@Url.Action("GetPostByTag", "Post", new { tag = i.Name})">@i.Name</a>
                }
                <br />
                <div class="date text-secondary">
                    <i class="fa fa-calendar" aria-hidden="true"></i>  Posted
                    @TimeOn.Time(item.PostedOn)
                    with rate @item.Rate by @item.ViewCount @(item.ViewCount <= 1 ? "view" : "views")
                </div>
                <i class="text-muted">@item.ShortDescription</i>
            </div>
        </div>
    </div>
    <hr class="my-4" />
}


<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model,
    page => Url.Action("Index",
    new {page}),
    new PagedListRenderOptions
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    LinkToPreviousPageFormat = "Trước",
    LinkToNextPageFormat = "Sau",
    LinkToFirstPageFormat = "Trang Đầu",
    LinkToLastPageFormat = "Trang Cuối",
    Display = PagedListDisplayMode.IfNeeded,
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always
    })
</div>




